@font-face{
    font-family:'SemiCondensed';
    font-style:normal;
    font-weight:normal;
    src:
        local('SemiCondensed'),
        url('../fonts/MyriadPro-SemiCn.woff') format('woff'),
        url('../fonts/MyriadPro-SemiCn.ttf') format('truetype')
}
h2{
    color: #003968;
    text-transform: uppercase;
    margin: 0px 0px 40px 0px;
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    padding-top: 8px
}
h3{
    color: #003968;
    border: none;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 40px;
    padding-top: 6px
}
.pull-left{
    overflow: hidden;
    float: left;
    width: 532px;
}
.pull-right{
    overflow: hidden;
    float: right;
    width: 408px; 
}
.container{
    padding: 58px 80px;
    width: 960px;
    position: relative;
}
#wrapper{
    width: 860px;
}
form div > div.element{
    height: 32px;
    width: 286px;
        
}
form div > div{
    float: left;
    width: 162px;
}
.info{
    font-size: 16px;
}
.popup{
    display: none;
    position: absolute;
top: 0px;
left: 188px;
z-index: 1000;
}
form .form-section{
    clear: both;
    min-height: 32px;
}
ul.errors{
    list-style: none;
    margin:0;
    padding: 0px;
    color: red;
    font-size: 12px;
}
span.required {
    color: red;
}
.search-results {
    margin-top: 60px;
}
form input {
    width: 250px;
}
form input[type=checkbox]{
    width: auto;
}
form p{
    margin: 0;
    padding: 0;
    display: inline;
}
table{
    border: none;
    width: 560px;
}
th{
    border:none;
    background: none;
    color: #777;
}
table tr td, table tr th{
    border-bottom: 1px solid #f0f0f0;
    text-align: center;
}
table tr th{
    color: #2757a5;
    font-weight: normal;
}
.btn{
    background-color: #2757a5;
    color: #fff;
    border: 0!important;
    font-size: 13px;
    display: inline-block!important;
    padding: 0 13px 1px 13px;
    cursor: pointer;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -khtml-box-shadow: none!important;
    -o-box-shadow: none!important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    padding: 6px;
}
.btn:hover {
    background-color: #555;
    color: #fff;
    text-decoration: none;
}
form div.hint{
    position: relative;
    left: 65px;
    width: 311px;
    font-style: italic;
    font-size: 11px;
    top: -34px;
}
form .form-section.checkbox-section .hint{
    top: -21px;
}
table tbody.scrollContent {
    height: 430px;
    overflow: auto;
}
table .checkbox, div .checkbox{
    width: 30px;
}
table .lp, div .lp{
    width: 58px;
}
table .lp, div .lp_w{
    width: 80px;
}
table .year, div .year{
    width: 92px;
}
table .number, div .number{
    width: 120px;
}
table .butt, div .butt{
    width: 103px;
}
table td, table tr{
    height: 20px;
}
input#zip_submit:disabled{
    background-color: #f0eded;
    cursor: auto;
    color: #555;
}
#zip_submit {
    background-color: #2757a5;
    color: #fff;
    cursor: pointer;
}
.loading, .loading_queue{
    clear: both;
    display: block;
    width: 162px;
    margin: 30px auto;
    text-align: center;
    display: none;
}
.download{
    clear: both;
    display: block;
    width: 560px;
    margin: 50px auto 30px;
    text-align: left;
    display: none;
    overflow: hidden;
}
.download p{
    float: left;
}
.download a{
    float: left;
    margin-left: 96px;
}
.info_queue{
    clear: both;
    display: block;
    width: 560px;
    margin: 30px auto;
    text-align: left;
    display: none;
}
.info_check{
    clear: both;
    display: block;
    width: 560px;
    margin: 30px auto;
    text-align: left;
    display: none;
}


.scrollTable .fixedHeader{
    float: none;
    width: auto;
    overflow: hidden;
    height: auto;
    border-bottom: 1px solid #f0f0f0;
}
.scrollTable .fixedHeader div{
    text-align: center;
    padding: 5px;
    color: #2757a5;
}
.scrollTable .scrollContent{
    float: none;
    width: auto;
    height: 430px;
    margin-bottom: 15px;
    overflow: auto;
}
.scrollTable .scrollContent .normalRow{
    float: none;
    overflow: hidden;
    width: auto;
    border-bottom: 1px solid #f0f0f0;
}
.scrollTable .scrollContent .normalRow div{
    text-align: center;
    padding: 5px;
    padding-top: 12px;
}
.scrollTable .scrollContent .normalRow div.butt{
    padding-top: 5px;
}
.footer{
    border-top: 1px solid #ab161d;
    clear: both;
    position: relative;
}
.slider{
    padding: 0 20px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 0px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 0px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 0px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 0px;
}
.slider .slider-vertical.ui-slider.ui-slider-vertical.ui-widget.ui-widget-content.ui-corner-all{
    width: 4px;
    margin: 10px 23px;
    background-repeat: repeat-y;
    background-image: url('../images/bg_slider.png')
}
.slider .ui-slider-range.ui-widget-header.ui-corner-all.ui-slider-range-min{
    background-color: #ab161d;
}
.ui-slider-vertical .ui-slider-handle {
    left: -0.5em;
    margin-left: 0;
    margin-bottom: -.1em;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #ab161d;
    font-weight: bold;
    cursor: pointer;
    border:none;
    height: 4px;
    color: #004276;
    outline: none;
    width: 18px;
}
.ui-widget-header {
    background: #ab161d;
    color: #ffffff;
    font-weight: bold;
}
.ui-widget-content{
    border:none;
    color: #333333;
}

.item2 .up {
    margin-top: 0px;
}

.item2 .slider-vertical {
    margin-top: 28px !important;
    margin-bottom: 28px !important;
}

.item2 .slider-vertical.ui-slider.ui-slider-vertical.ui-widget.ui-widget-content.ui-corner-all{
    width: 4px;
    margin: 10px 23px;
    background: none repeat scroll 0 0 #ab161d;
    color: #ffffff;
    font-weight: bold;
}


.item2  .ui-slider-range.ui-widget-header.ui-corner-all.ui-slider-range-min {
    background: #fff url('../images/bg_slider.png') 1px 0px repeat-y;
    width: 4px;
}


.item{
    width: 50px;
    height: 450px;
    float: left;
    margin-right: 36px;
}

.hide .item{
    width: 50px;
    height: 420px;
    float: left;
    margin-right: 36px;
}

.item  .item_max_indicator {
    outline: none;
    margin: 4px 3px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
    -moz-box-shadow: none; 
    -webkit-box-shadow: none; 
    -khtml-box-shadow: none; 
    -o-box-shadow: none; 
    box-shadow: none; 
    color: #ab161d;
    width: 46px;
    text-align: center;
    font-size: 18px;
    padding: 4px 0px;
    background: #FFFFFF;
}

.item  .item_max_indicator:disabled {
    color: #E5B4B5;
} 

.item .slider_amount {
    outline: none;
    margin: 4px 3px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
    -moz-box-shadow: none; 
    -webkit-box-shadow: none; 
    -khtml-box-shadow: none; 
    -o-box-shadow: none; 
    box-shadow: none; 
    color: #ab161d;
    width: 46px;
    text-align: center;
    font-size: 18px;
    padding: 4px 0px;
    background-image: url('../images/input.png');
}

.item .slider_amount:disabled {
    background: #F3F3F3;
    color: #E5B4B5;
}

.item a{
    display: block;
    width: 50px;
    text-align: center;
}
.slider img{
    position: relative;
    display: inline;
    border:none;
    outline: none;
}
.element.bg:first-of-type, .element.bg:last-of-type{
    background-image: none;
}
.hide{
    display: none;
}
.element{
    overflow: hidden;
    padding-bottom: 50px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 90%;
}
.element.bg{
    background-image: url('../images/terc.png');
    padding-bottom: 100px;
}
.element .title{
    position: absolute;
    left: -42px;
    color: #58595b;
    font-size: 18px;
    font-weight: normal;
    top: -1px;
}
body{
    color: #58595b;
}
.slider{
    padding: 0px;
    overflow: hidden;
background: none;
}
.pull-left ul{
    list-style-type:decimal-leading-zero;
    padding-left: 16px;
}
.pull-left ul li{
    font-size: 14px;
}
.pull-left.results{
    width: 418px;
    margin-left: 10px;
}
#fix{
    background-color: #fff;
    z-index: 100;
}
#submit_print{
    background-image: url('../images/save.png');
    background-repeat: no-repeat;
    background-position: right 2px center;
    height: 36px;
    width: auto;
    padding-right: 34px;
    outline: none;
    cursor: pointer;
    float: right;
    margin-bottom: 24px;
    margin-right: 26px;
}
.radio{
    text-align: center;
    margin: 0px 0px 10px 0px;
}
#block{
    display: none;
    position: absolute;
    top:0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 100;
    filter:alpha(opacity=20);
    opacity: 0.2;
    -moz-opacity:0.2;
}
.btn-slider:hover{
    color: #ab161d;
     background-color: #f3f4f4;
     text-decoration: none;
}
.btn-slider{
    color: #ab161d;
    height: 36px;
    padding: 6px 15px;
    display: block;
    border: 1px solid #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    background-color: #f3f4f4;
    -moz-box-shadow: inset 0 1px 1px #bbb;
    -webkit-box-shadow: inset 0 1px 1px #bbb;
    -khtml-box-shadow: inset 0 1px 1px #bbb;
    -o-box-shadow: inset 0 1px 1px #bbb;
    box-shadow: inset 0 1px 1px #bbb;
    box-sizing: border-box; 
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}
input[type="radio"]{
    width: auto;
    border:none;
    background-color: transparent;
    -moz-box-shadow: inset 0 0px 0px transparent;
-webkit-box-shadow: inset 0 0px 0px transparent;
-khtml-box-shadow: inset 0 0px 0px transparent;
-o-box-shadow:inset 0 0px 0px transparent;
}
.up4{
    color: #58595b;
    float: left;
}
a.up4 span{
    position: relative;
    bottom: 16px;
}
a.up4:hover{
    text-decoration: none;
}
.glass_laminate, .special22{
    padding-bottom: 0px;
}
.special22 .item{
    display: none;
    margin-bottom: 20px;
}
.special22 .item:first-of-type{
    margin-right: 10px !important;
}
.special22 .item:first-of-type p{
    padding-top: 78px !important;
    bottom: -2px !important;
}
.special22 .item:nth-child(3) p:first-of-type{
    font-size: 16px !important;
    color: #003968;
    text-transform: uppercase;
    width: 400px;
    position: relative;
    left: -57px;
    text-align: left !important;
}
.glass_size .item:nth-child(3) p:first-of-type{
    left: 0px;
    color: #58595b;
    padding-top: 76px !important;
    text-transform: lowercase;
}
.special22 .item:nth-child(3) p:first-of-type span{
    text-transform: lowercase;
}
.glass_laminate .item{
    display: none;
}
.legend{
    width: 100%;
    float: none;
    clear: both;
    display: none;
    margin-bottom: 20px;
}
.legend ul {
    margin: 0px;
    padding: 0px;
}
#item_43 p:first-of-type{
    background-image: url('../images/x.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    color:transparent;
}
#item_44 p:first-of-type{
    background-image: url('../images/y.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    color:transparent;
}
#item_45 p:first-of-type{
    background-image: url('../images/z.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    color:transparent;
}
@media only screen and (max-width:768px) { 
    #wrapper{
        width: auto;
    }
    .container{
        padding: 45px;
        width: auto;
    }
    .pull-left.results {
        width: auto;
    }
    .footer p{
        width: auto !important;
    }
    .footer img{
        position: relative !important;
    }
    
}
@media only screen and (max-width:320px) { 
    #wrapper{
        width: auto;
    }
    .container{
        padding: 5px;
        width: auto;
    }
    .pull-left{
        width: auto;
    }
    .item:nth-child(12){
        margin-left: 20px;
    }
}

/**
* Dla Amerykańskiej wersji językowej.
**/

.lang-en_US .group-24 {
	display:none;
}

.lang-en_US .element-25 {
	display:none !important;
}

.lang-en_US .element-37,
.lang-en_US .element-38{
	display:none;
}